.container {
  display: flex;
  flex-direction: column;
}
.products {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.navigation {
  background-color: #f17f50;
  min-height: 200px;
  flex: 1;
  display: flex;
}
.products-list {
  background-color: #006400;
  min-height: 200px;
  flex: 1;
  display: flex;
}
.news {
  background-color: #0ff;
  display: flex;
  min-height: 200px;
  flex: 1;
}

span {
  margin: auto;
  font-family: Verdana;
  background-color: #faebd7;
  padding: 8px;
  border-radius: 4px;
  text-transform: lowercase;
}

@media (min-width: 600px) {
  .products {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .container {
    flex-direction: row;
  }
}
