* {
  box-sizing: border-box;
}
body {
  font-family: Karla, sans-serif;
  background-color: #f7f7f7f7;
  width: 90%;
  margin: 0px auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  &__title {
    flex-grow: 1;
    font-size: 2.25em;
    font-weight: 400px;
    letter-spacing: 0.1em;

    @media screen and(max-width: 600px) {
      font-size: 35px;
    }
  }

  &__search {
    display: flex;
    align-items: center;
  }

  &__filter {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 0.75em;
    font-weight: 700;
    color: #666666;
    text-transform: uppercase;
  }

  &__select {
    display: flex;
    flex-direction: column;
    border: 0;
    background-color: #f7f7f7f7;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
  }

  &__sort {
    margin-left: 20px;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  background: #fff;
  border: 0.5px solid #f7f7f7f7;
  margin-right: 0;

  @media screen and (min-width: 600px) {
    flex-basis: 25%;
  }
  @media screen and (min-width: 900px) {
    flex-basis: 20%;
  }

  &__sale {
    position: absolute;
    padding: 3px 6px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    color: #fff;
    background: #0000ff;
    text-align: center;

    @media screen and (max-width: 600px) {
      padding: 4px 10px;
    }
    @media screen and (min-width: 800px) {
      padding: 4px 10px;
    }
  }

  &__img img {
    max-width: 100%;
    padding: 30px 15px 20px 15px;
  }

  &__info {
    text-align: center;
    padding-bottom: 25px;
  }

  &__name {
  }

  &__price {
    margin-top: 7px;
    font-size: 0.875em;
    color: rgb(102, 102, 102);
  }

  &__avail {
    display: none;
  }
}
